.flickr-photo--selected p {
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

.spinner.is-hidden {
    visibility: hidden;
}

.flickr-photo--selected-text {
    left: 7px;
    position: relative;
    top: -5px;
}

.flickr-photo--remove {
    margin-bottom: 20px;
    margin-left: 12px;
}

.flickr-photo .thumbsview {
    overflow: auto;
}

.flickr-photo--selected {
    border: 2px dashed #ccc;
    margin-top: 20px;
    min-height: 133px;
    padding: 20px 0;
}

.flickr-photo--picker {
    margin-top: 10px;
    padding-top: 25px;
}

.flickr-photo--photoset {
    margin-bottom: 20px;
    margin-left: 15px;
}

.flickr-photo li {
    display: inline-block;
    height: 83px;
    text-align: center;
    width: 105px;
}

.flickr-photo label {
    cursor: pointer;
}

.flickr-photo .flickr-photo--thumb:hover {
    border-color: #7dafe8;
}

.flickr-photo .flickr-photo--thumb:active {
    border-color: #8cb941;
}

.flickr-photo input[type = "checkbox"] {
    display: none;
}

.flickr-photo--thumb {
    cursor: pointer;
    border: 4px solid #fff;
    display: inline-block;
    height: 75px;
    position: relative;
    transition: border 100ms linear;
}

.flickr-photo--thumb.is-selected {
    border-color: #8cb941;
}

.flickr-photo--checkmark {
    border: 15px solid #8cb941;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 0;
}

.flickr-photo--checkmark > span {
    color: #fff;
    font-family: 'Craft';
    position: relative;
    right: -1px;
    top: -15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}