.flickr-photo--form-control {
    margin-bottom: 10px;
}

.flickr-photo--selected p {
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

.spinner.is-hidden {
    visibility: hidden;
}

.flickr-photo--selected-text {
    left: 7px;
    position: relative;
    top: -5px;
}

.flickr-photo--remove {
    margin-bottom: 20px;
    margin-left: 12px;
}

.flickr-photo .thumbsview {
    margin-left: 13px;
    overflow: auto;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering .flickr-photo--thumb-container {
    cursor: ns-resize;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering {
    width: 100px;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering.is-small {
    width: 90px;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering.is-small .flickr-photo--thumb {
    height: 70px;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering.is-normal .flickr-photo--thumb {
    height: 95px;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering.is-large {
    width: 165px;
}

.flickr-photo .flickr-photo--selected .thumbsview.is-reordering.is-large .flickr-photo--thumb {
    height: 145px;
}

.flickr-photo .thumbsview.is-small .flickr-photo--thumb-container,
.flickr-photo .thumbsview.is-small .flickr-photo--thumb-container img {
    height: 50px;
}

.flickr-photo .thumbsview.is-small .flickr-photo--thumb {
    width: 65px;
}

.flickr-photo .thumbsview.is-large .flickr-photo--thumb-container,
.flickr-photo .thumbsview.is-large .flickr-photo--thumb-container img {
    height: 125px;
}

.flickr-photo .thumbsview.is-large .flickr-photo--thumb {
    width: 140px;
}

.flickr-photo--selected {
    border: 2px dashed #ccc;
    margin-top: 20px;
    min-height: 133px;
    padding: 20px 0;
}

.flickr-photo--picker {
    margin-top: 10px;
    padding-top: 25px;
}

.flickr-photo--photoset {
    margin-bottom: 20px;
    margin-left: 15px;
}

.flickr-photo .flickr-photo--thumb {
    display: inline-block;
    height: 83px;
    text-align: center;
    width: 105px;
}

.flickr-photo label {
    cursor: pointer;
}

.flickr-photo .flickr-photo--thumb-container:hover {
    border-color: #7dafe8;
}

.flickr-photo .flickr-photo--thumb-container:active {
    border-color: #8cb941;
}

.flickr-photo input[type = "checkbox"] {
    display: none;
}

.flickr-photo--thumb-container {
    cursor: pointer;
    border: 4px solid #fff;
    display: inline-block;
    height: 75px;
    position: relative;
    transition: border 100ms linear;
}

.flickr-photo--thumb-container.is-selected {
    border-color: #8cb941;
}

.flickr-photo--control-label {
    display: inline-block;
    width: 100px;
}

.flickr-photo--checkmark {
    border: 15px solid #8cb941;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 0;
}

.flickr-photo--checkmark > span {
    color: #fff;
    font-family: 'Craft';
    position: relative;
    right: -1px;
    top: -15px;
}

.flickr-photo--radio {
    display: inline-block;
    width: 75px;
}

.flickr-photo--sort-by {
    cursor: pointer;
    display: inline-block;
    width: 130px;
}

.flickr-photo--sort-by:hover {
    text-decoration: underline;
}

.flickr-photo--sort-by.is-selected {
    font-weight: 700;
}

.flickr-photo--sort-by > span {
    font-size: 10px;
}

.flickr-photo--control-label + .flickr-photo--sort-by {
    width: 75px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-repeat-reorder-parent {
    z-index: 1;
    position: relative;
}

.is-reordering [ng-repeat-reorder].dragging {
    z-index: 2;
    position: absolute;
}
